<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <section class="banner-section">
            <img src="./images/static/legendary.png" alt="legendary Motorsport">
        </section>
        <div class="header">
            <div class="home_logo2">
                <a href="/"><img src="/images/static/home.png" alt=""></a>  
            </div>
            <div class="home_logo">
                <a href="/"><img src="/images/static/logo.png" alt=""></a>               
            </div>
            <div class="dropdown" style="float:right;">
                <button class="dropbtn">☰</button>
                <div class="dropdown-content">
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    <a href="/aboutus">About Us</a>
                    <a href="/dashboard">Dashboard</a>
                </div>
            </div>
        </div>
        {{{body}}}
    </body>
</html>