<div class="container">
    <h1>Add New Car</h1>
    <form action="/api/add-car" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="Enter Car Name" name="carname" required>
        <br>
        <input type="text" placeholder="Enter Car Price" name="carprice" required>
        <br>
        <input type="file" placeholder="Upload Car Picture" name="carpic" required/>
        <br><br>
        <button type="submit">Register</button>
    </form>
</div>